# QUESTION 1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()
b()
b()
a

6

# EXPLANATION 
so first we have the value a is 0,and global a give us information that a is global variable and define outisde the function
now when we define b() it assign the value of c(a) to a and def c(a) take that argument and return value of " a " increase by 2



now when we define first b() it take value of a = 0 then when have global variable a=c(0) then it return after that we have 
of a increased by 2 
after puting one more time b() agin it take a=2 and give us c(2) and end of that we have a increased by 2which will be 4 now for 
the value of global a.by keep continuning this we have value of a is "6"

# QUESTION 2

In [32]:
def fileLength(name):
    try:
        file = open(name)
        contents = file.read()
        print(len(contents))
    except FileNotFoundError:   # it will print this error message if file is not find through the directory
         print(f"ERROR: HELLO DEAR THE FILE YOU LOOKING FOR IS NOT FOUND,SORRY")
    except:                     # it will print error when therer is another error
        print("ERROR:FILE IS NOT FOUND IN THIS SYSTEAM")
    else:                       # or it will close the file 
        file.close()

In [88]:
# some exaples
fileLength("example.txt")
fileLength("bloodtype1.txt")

ERROR: HELLO DEAR THE FILE YOU LOOKING FOR IS NOT FOUND,SORRY
ERROR: HELLO DEAR THE FILE YOU LOOKING FOR IS NOT FOUND,SORRY

# QUESTION 3

In [115]:
class Marsupial:   # we have created class called Masupial 
    def __init__(self):  # and define an objcet by using init 
        self.pouch = []   # created an empty list to store our results 

    def put_in_pouch(self, item):   # we use pu_it_poch commanad to add iteams in our list called self.pouch
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch



    
class Kangaroo:     # we have created subclass called kangaroo in our main class  Marsupial 
    
    def __init__(self, x, y):     # we have created object in it which can have two parameters in it 
        self.marsupial = Marsupial()
        self.x = x          # we allocate the variables with in the object 
        self.y = y

    
    
    def put_in_pouch(self, item):
        self.marsupial.put_in_pouch(item)    

   

    def pouch_contents(self):
        return self.marsupial.pouch_contents()

    
    def jump(self, dx, dy):  # by using this command we have list of elements after some steps we want 
        self.x = self.x + dx
        self.y = self.y + dy

    
    
    def __str__(self):    
        return f"Kangaroo Element location is : ({self.x}, {self.y})"

In [103]:
 Marsupial= Marsupial()
Marsupial.put_in_pouch('Yuvraj')
Marsupial.put_in_pouch('Gaurav')
Marsupial.put_in_pouch('Meet')
print( Marsupial.pouch_contents())

['Yuvraj', 'Gaurav', 'Meet']

In [117]:
kangaroo = Kangaroo(1,3 )

kangaroo.put_in_pouch("Aarti")

kangaroo.put_in_pouch("Yuvraj")


print(kangaroo.marsupial.pouch_contents())

print(kangaroo)  #Kangaroo Element  location is : (4,2) Pouch contents: ['Aarati', 'Yuvraj']

kangaroo.jump(3,2)
kangaroo.jump(2,6)
print(kangaroo)  #Kangaroo ElementLocation is : (5,6) Pouch contents: ['Aarati', 'Yuvraj']

['Aarti', 'Yuvraj']
Kangaroo Element location is : (1, 3)
Kangaroo Element location is : (6, 11)

# QUESTION 4

In [34]:
def collatz(x):
    def sequence(n): # we have define function called sequence 
        print(n)
        if n == 1:  # it will return if value 1 or 0  if entered value is 1 or 0
            return
        elif n % 2 == 0:   # it will divided it to 2 if its even 
            sequence(n // 2)
        else:
            sequence(3 * n + 1) # else use this formula for the odd

    sequence(x)

In [35]:
# some exaples 
collatz(6)

6
3
10
5
16
8
4
2
1

In [36]:
collatz(5)

5
16
8
4
2
1

# QUESTION 5

In [37]:
def binaryversion(n):  # we have created function called binaryversion to create binary data 
    if n == 0:          # if input is o it will shows 0 same for 1 as well
        return '0'
    elif n == 1:
        return '1'
    else:
        return binaryversion(n // 2) + str(n % 2) # or it divide that data by 2 and store that value to str till 0

In [68]:
# Some Example


result = binaryversion(95)
print(result)

result = binaryversion(55)
print(result)

1011111
110111

# QUESTION 6

In [87]:
from html.parser import HTMLParser  # we have used the html.parser libary of python 


class HeadingParser(HTMLParser):    # we have created subclass called HeadingParser in HtmlParser which store the heading found in HTMLParser
    def __init__(self):

SyntaxError: incomplete input (2362963328.py, line 7)

# QUESTION 7

In [84]:
import requests
import re

def webdir(url, length, indent):  # we have created the function called webdir 
    if length == 0:   # it showas if length is 0 then it will stop recursion
        return

In [85]:
webdir('https://www.kaggle.com/datasets/hrfang1995/nba-salaries-by-players-of-season-2000-to-2019', 2, 0)

# QUESTION 8

In [72]:
# IN THIS PART OF QUESTION WE GONNA CREATE THE TABLE FIRST



import sqlite3
conn = sqlite3.connect('QUESTION8.db') # WE CREATE THE DATA BASE OR WE CAN CONNECT IT IF IT EXISTS
cursor = conn.cursor()

# HERE WE GONNA CREATE TABLE CALLED Season_table
cursor.execute('''                
    CREATE TABLE Season_table(
        City VARCHAR(100),
        Country VARCHAR(100),
        Season VARCHAR(100),
        Temperature FLOAT,
        Rainfall FLOAT
    )
''')

data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]                                    # HERE WE HAVE DESCRIBE THE DATA TOBE INSERTED IN TO TABLE WE HAVE A LIMIT THAT TO 100

# NOW WE GOONA INPUT DATA INTO Season_table table 
cursor.executemany('''
    INSERT INTO Season_table (City, Country, Season, Temperature, Rainfall)
    VALUES (?, ?, ?, ?, ?)
''', data)

conn.commit()  # here we use command queries to use the table and make it close 
conn.close()

In [77]:
import sqlite3

# BY THIS WE ARE CONNECTING THIS TO DATABASE 
conn = sqlite3.connect('QUESTION8.db')
cursor = conn.cursor()

# A) All THE TEMPURETURE DATA
print("-----------------------------------------------------------------------------------------")
cursor.execute("SELECT Temperature FROM Season_table ")
temp = cursor.fetchall()
for temperature in temp:
    print("Temperature of givin Data:")
    print(temperature)

    

# C)  All THE RECORDS OF INDIA 
print("-----------------------------------------------------------------------------------------")
cursor.execute("SELECT * FROM Season_table  WHERE Country = 'India'")
india_data = cursor.fetchall()
for record in india_data:
    print("Records for India from the given data:")
    print(record)

# B)  All THE CITIES BUT WITHOUT REPETITION
print("-----------------------------------------------------------------------------------------")
cursor.execute("SELECT DISTINCT City FROM Season_table ")
city01 = cursor.fetchall()
for city in city01:
    print("Cities that are mentioned in data:")
    print(city)    
    
    
# D)  All THE FALL RECORDS 
print("-----------------------------------------------------------------------------------------")
cursor.execute("SELECT * FROM Season_table  WHERE Season = 'Fall'")
fall_data = cursor.fetchall()
for record in fall_data:
    print("Fall Records from the givin data :")
    print(record)

# E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
print("-------------------------------------------------------------------------------------------------------------------------------")
cursor.execute("SELECT City, Country, Season FROM Season_table GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")
rainfall_data = cursor.fetchall()
for record in rainfall_data:
    print("Records with Average Rainfall between 200 and 400 millimeters from givin data:")
    print(record)

# F) The CITY AND COUNTRY FOR which the average Fall temperature is above 20 degrees, in increasing temperature order
print("------------------------------------------------------------------------------------------------------------------------------------------")
cursor.execute("SELECT City, Country FROM Season_table  WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
average_tempdata = cursor.fetchall()
for record in average_tempdata:
    print("Records with Average Fall Temperature above 20 degrees, in increasing order for givin data:")
    print(record)

# H) The TOTAL RAINFALL OF THE SEASON
print("-----------------------------------------------------------------------------------------")
cursor.execute("SELECT Season, SUM(Rainfall) AS TotalRainfall FROM Season_table  GROUP BY Season")
seasonal_rainfall_data = cursor.fetchall()
for record in seasonal_rainfall_data:
    print("Total Rainfall for Each Season for givin data:")
    print(record)
    
# G) The TOTAL ANNUAL RAINFALL OF CIARO 
print("-----------------------------------------------------------------------------------------")
cursor.execute("SELECT SUM(Rainfall) AS TotalRainfall FROM Season_table  WHERE City = 'Cairo'")
cairo_annualrainfall_data = cursor.fetchall()
print("Total Annual Rainfall for Cairo for givin data:", cairo_annualrainfall_data)
    
conn.close() # it shows the closing of the connection

-----------------------------------------------------------------------------------------
Temperature of givin Data:
(24.8,)
Temperature of givin Data:
(28.4,)
Temperature of givin Data:
(27.9,)
Temperature of givin Data:
(27.6,)
Temperature of givin Data:
(4.2,)
Temperature of givin Data:
(8.3,)
Temperature of givin Data:
(15.7,)
Temperature of givin Data:
(10.4,)
Temperature of givin Data:
(13.6,)
Temperature of givin Data:
(20.7,)
Temperature of givin Data:
(27.7,)
Temperature of givin Data:
(22.2,)
-----------------------------------------------------------------------------------------
Records for India from the given data:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
Records for India from the given data:
('Mumbai', 'India', 'Spring', 28.4, 16.2)
Records for India from the given data:
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
Records for India from the given data:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
-----------------------------------------------------------------------------------------
Cities that are mentioned in data:
('Mumbai',)
Cities that are mentioned in data:
('London',)
Cities that are mentioned in data:
('Cairo',)
-----------------------------------------------------------------------------------------
Fall Records from the givin data :
('Mumbai', 'India', 'Fall', 27.6, 346.0)
Fall Records from the givin data :
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
Fall Records from the givin data :
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
-------------------------------------------------------------------------------------------------------------------------------
Records with Average Rainfall between 200 and 400 millimeters from givin data:
('London', 'United Kingdom', 'Fall')
Records with Average Rainfall between 200 and 400 millimeters from givin data:
('London', 'United Kingdom', 'Winter')
Records with Average Rainfall between 200 and 400 millimeters from givin data:
('Mumbai', 'India', 'Fall')
------------------------------------------------------------------------------------------------------------------------------------------
Records with Average Fall Temperature above 20 degrees, in increasing order for givin data:
('Cairo', 'Egypt')
Records with Average Fall Temperature above 20 degrees, in increasing order for givin data:
('Mumbai', 'India')
-----------------------------------------------------------------------------------------
Total Rainfall for Each Season for givin data:
('Fall', 569.0)
Total Rainfall for Each Season for givin data:
('Spring', 192.29999999999998)
Total Rainfall for Each Season for givin data:
('Summer', 1706.5)
Total Rainfall for Each Season for givin data:
('Winter', 230.1)
-----------------------------------------------------------------------------------------
Total Annual Rainfall for Cairo for givin data: [(27.6,)]

# QUESTION 9

In [42]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [50]:
# CONVERT ALL WORD IN TO UPPERCASE 
ANS_a = []
for word in words:
    ANS_a.append(word.upper())

In [52]:
# Convert all words to lowercase 
ANS_b = []
for word in words:
    ANS_b.append(word.lower())

In [54]:
# Get the lengths of words
ANS_c = []
for word in words:
    ANS_c.append(len(word))

In [55]:
# Create a list containing a sublist for each word, with the word in uppercase, lowercase, and its length

ANS_d = []
for word in words:
    subsitutelist = [word.upper(), word.lower(), len(word)]
    ANS_d.append(subsitutelist)

In [56]:
# Filter words with 4 or more characters
ANS_e = []
for word in words:
    if len(word) >= 4:
        ANS_e.append(word)

In [79]:
print(ANS_a)   
print("------------------------------------------------------------------")
print(ANS_b)  
print("------------------------------------------------------------------")
print(ANS_c)  
print("------------------------------------------------------------------")
print(ANS_d)  
print("------------------------------------------------------------------")
print(ANS_e)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
------------------------------------------------------------------
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
------------------------------------------------------------------
[3, 5, 5, 3, 5, 4, 3, 4, 3]
------------------------------------------------------------------
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
------------------------------------------------------------------
['quick', 'brown', 'jumps', 'over', 'lazy']